# Clase 1 Python
Veamos las bases de Python

## Cómo nombrar las variables

Existen tres formar de nombrar variables en Python:


*   snake_case
*   camelCase
*   PascalCase

In [1]:
mi_variable = 3
miVariable2 = "hola!"
MiVariable3 = True

mi_variable, miVariable2, MiVariable3

(3, 'hola!', True)

## Tipos de datos

Ahora veamos los tipos de datos

### String

In [23]:
variable_string = "Hola soy una variable" #creo una variable de tipo texto
variable_string

'Hola soy una variable'

### Integer

In [14]:
variable_integer = 10 # esto es un entero

In [15]:
variable_integer

10

### Float

In [6]:
variable_decimal = 10.345 #esta es una variable decimal

In [10]:
variable_decimal

2024.0

### Boolean

Pueden tener dos valores
- True
- False

In [26]:
miVariableBooleana = True #creo una variable booleana
miVariableBooleana

True

In [27]:
miVariableBooleana = False #creo una variable booleana
miVariableBooleana

False

## Operaciones

### type()

Permite saber de qué tipo de dato es la variable con la que estamos trabajando

In [24]:
type(variable_string) #muestra el tipo de dato de la variable 'variable_string'

str

In [25]:
type(variable_integer) #muestra el tipo de dato de la variable 'variable_integer'

int

In [28]:
type(variable_decimal) #muestra el tipo de dato de la variable 'variable_decimal'

float

In [29]:
type(miVariableBooleana) ##muestra el tipo de dato de la variable 'miVariableBooleana'

bool

### Cast

Sirve para definir de manera estricta el tipo o para transformar (siempre que sea posible)

In [30]:
variable_anio_entero = 2024 #declaro una variable de tipo integer

variable_string = str(variable_anio_entero) #la convierto a una de tipo string
variable_decimal = float(variable_string) #convierto la variable de tipo string a una de tipo float
variable_anio_entero, type(variable_anio_entero), variable_string, type(variable_string), variable_decimal, type(variable_decimal)

(2024, int, '2024', str, 2024.0, float)

In [31]:
variable_decimal = 3.14 #declaro una variable de tipo float
variable_entera = int(variable_decimal) #la convierto a una de tipo integer [trunca, no redondea]
variable_decimal, type(variable_decimal), variable_entera, type(variable_entera)

(3.14, float, 3, int)

### print()

Permite imprimir valores

In [21]:
# Mis datos personales
mi_nombre = "Sofia"
mi_apellido = "Goszko"
edad = 30
numero_decimal_favorito = 33.33
fumador = False
alumno = True

print("Nombre:", mi_nombre)
print("Apellido:", mi_apellido)
print("Edad:", edad)
print("Numero decimal:", numero_decimal_favorito)
print("Fumador:", fumador)
print("Alumno:", alumno)

Nombre: Sofia
Apellido: Goszko
Edad: 30
Numero decimal: 33.33
Fumador: False
Alumno: True

In [22]:
print(f'Mi nombre: {mi_nombre}. Apellido: {mi_apellido}. Edad: {edad}')

Mi nombre: Sofia. Apellido: Goszko. Edad: 30

## Operadores

Dentro de Python tenemos distintos operadores

- Aritméticos: suma `+`, resta `-`, multiplicacion `*`, división `/`, módulo `%`, división entera `//` y exponete `**`
- Comparación: igual que `==`, diferente que `!=`, mayor que `>`, mayor o igual que `>=`, menor que `<`, menor o igual que `<=`
- Lógicos: AND `&`, OR `|`, NOT `not`
- Asignación: igual `=`, incremento `+=`, decremento `-=`

### Aritméticos

In [32]:
num1= 10 #declaro una variable de tipo integer
num2= 33 #declaro otra variable de tipo integer


num1 * num2, num1 + num2, num1 / num2, num1 // num2, num1 % num2 #multiplicación, suma, división, división entera, módulo

(330, 43, 0.30303030303030304, 0, 10)

In [33]:
num1 = 3 #declaro una variable de tipo entera
cuadrado = 3**2 #obtengo su cuadrado
cubo = 3**3 #obtengo su cubo
raiz = cuadrado**(1/2) #obtengo la raiz cuadrada de su cuadrado

num1, cuadrado, cubo, raiz

(3, 9, 27, 3.0)

In [34]:
diametro = 20 #declaro el diámetro
radio = diametro/2 #calculo el radio
radio

10.0

In [35]:
numero_pi = 3.14 #declaro una variable con el número pi

area_circulo = numero_pi * (radio**2)
area_circulo

314.0

### Comparación

In [38]:
variable_min = "argentina"
variable_mayusc= "ARGENTINA"

variable_min == variable_mayusc #compara si son iguales

False

In [39]:
variable_min != variable_mayusc #compara si son distintas

True

In [41]:
numero1 = 10
numero2 = 5.93

numero1 > numero2 #compara si numero1 es mayor que numero2

True

In [42]:
numero1 < numero2 #compara si numero1 es menor que numero2

False

### Lógicos

- AND `&`: devulve verdadero si **todas** las condiciones son verdaderas
- OR `|`: devuelve verdadero si **al menos** una condición es verdadera
- NOT `not`: niega la condición

In [43]:
condicion1 = True
condicion2= False

condicion1 & condicion2

False

In [44]:
condicion1 | condicion2

True

In [46]:
not(condicion2)

True

In [48]:
condicion1 & (not(condicion2))

True

In [49]:
(not(condicion1)) | condicion2

False

### Asignación

Ya vimos varios ejemplos de asignación, ahora veremos incrementos y decrementos

In [51]:
valor_creciente, valor_decreciente = 0, 0 #declaro dos variables con el mismo valor inicial

valor_creciente +=1 #incremento la primera en 1 unidad
valor_decreciente -= 1 #decremento la segunda en 1 unidad

valor_creciente, valor_decreciente

(1, -1)

In [52]:
valor_creciente, valor_decreciente = 0, 0 #declaro dos variables con el mismo valor inicial

valor_creciente +=33 #incremento la primera en 33 unidades
valor_decreciente -=4 #decremiento la segunda en 4 unidades

valor_creciente, valor_decreciente

(33, -4)