# CLASE 6

## ESTRUCTURAS DE CONTROL

Veamos que nos ofrece Python para ejecutar código en base a una condición de forma permanente o indefinida hasta que se cumpla una condicón preestablecida.

### while()

`while()` es una palabra clave en Python que se utiliza para crear bucles que se ejecutan mientras una condición sea verdadera.


- Mientras la condición especificada sea cierta, el código dentro del bucle `while()` se ejecutará repetidamente.
- Una vez que la condición se vuelva falsa, la ejecución del bucle se detendrá y el control del programa continuará después del bucle.

#### Ejercicio 1.0

Veamos como funcionan los ciclos while y a que se refiere con ejecución indefinida

**MUCHO CUIDADO, NO EJECUTAR POR MUCHOS SEGUNDOS YA QUE PUEDE CONSUMIR TODA LA MEMORIA DISPONIBLE AL QUEDARSE IMPIMIENDO VALORES POR SIEMPRE**

*marca error ya que se detuvo la ejecución de forma forzada*

In [1]:
while True:
  print("Código en ejecución")

Se han truncado las últimas 5000 líneas del flujo de salida.
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución
Código en ejecución

KeyboardInterrupt:

#### Ejercicio 1.1

Vimos que el ciclo while al quedar con un valor True se va a ejecutar permanentemente, esto quiere decir que mediante una lógica debemos controlar cuando queremos que pare.

Veamos un ejemplo donde una vez ingresemos nuestra contraseña el ciclo while se detenga, caso contrario nos siga pidiendo que la ingresemos bien

In [2]:
password_usuario = "ab90s2"
password_ingresada = input("Ingrese su contraseña: ")


while (password_usuario != password_ingresada):
  print("La contraseña",password_ingresada,"es incorrecta re intente por favor")
  password_ingresada = input("Ingrese su contraseña nuevamente: ")

Ingrese su contraseña: 2jsah2
La contraseña 2jsah2 es incorrecta re intente por favor
Ingrese su contraseña nuevamente: as20cs
La contraseña as20cs es incorrecta re intente por favor
Ingrese su contraseña nuevamente: ab90s2

#### Ejercicio 1.2

Ahora vimos como deterner nuestro ciclo de forma manual, podemos hacer algo similar con números de forma automatica, incrementando el valor y que al llegar al deseado se detenga.

In [3]:
numero_ciclo_while = 1
while numero_ciclo_while < 10:
  print(numero_ciclo_while)
  numero_ciclo_while += 1 #Recordemos que con += 1 sumamos 1 al valor previo de nuestra variable y la reescribimos

1
2
3
4
5
6
7
8
9

### while() with else

Con while tambien podemos utilizar la palabra resevada `else` para definir que hacer una vez nuestro ciclo while deje de ejecutarse.

#### Ejercicio 1.3

Creemos un ciclo while que ahora pida el nombre de usuario, y una vez el nombre sea el adecuado le de la bienvenida

In [4]:
nombre_usuario = "andres"
nombre_ingresado = input("Ingrese su nombre: ")


while (nombre_usuario != nombre_ingresado):
  print("El usuario",nombre_ingresado,"es incorrecto re intente por favor")
  nombre_ingresado = input("Ingrese su nombre nuevamente: ")
else:
  print("Bienvenido",nombre_ingresado)

Ingrese su nombre: carlos
El usuario carlos es incorrecto re intente por favor
Ingrese su nombre nuevamente: ANDRES
El usuario ANDRES es incorrecto re intente por favor
Ingrese su nombre nuevamente: andres
Bienvenido andres

### while() with break

`break` puede usarse para salir prematuramente de un bucle basado en una condición específica.

#### Ejercicio 1.4

En este caso utilizamos if para "disparar" nuestro `break`.

Nuestro ciclo while se va a ejecutar siempre que nuestro numero_entero sea menor que 10.

Pero si por alguna razon nuestro numero_entero es 5 queremos que se detenga de inmediato

In [5]:
numero_entero = 0

while numero_entero < 10: # while se ejecuta mientras que el numero_entero sea menor a 10
    print("El numero entero es:", numero_entero)
    numero_entero += 1
    if numero_entero == 5: # if contador llega a 5, ejecutamos un print() y disparamos el break
        print("¡El numero entero llegó a 5, terminando el bucle!")
        break # palabra resevada break

El numero entero es: 0
El numero entero es: 1
El numero entero es: 2
El numero entero es: 3
El numero entero es: 4
¡El numero entero llegó a 5, terminando el bucle!

### while() with continue

Asi como break termina nuestro ciclo de forma inmediata, `continue` hace que se salte a la siguiente iteración del ciclo de forma inmediata

#### Ejercicio 1.5

Ahora queremos que nuestro ciclo while cuando numero_entero sea igual a 5 no se imprima sino que salte a la siguiente iteración

In [6]:
numero_entero = 0

while numero_entero < 10: # while se ejecuta mientras que el numero_entero sea menor a 10
    numero_entero += 1
    if numero_entero == 5: # if contador llega a 5,disparamos el continue y NO ejecutamos un print()
        continue # continue salta al siguiente ciclo
    print("Número:", numero_entero)

Número: 1
Número: 2
Número: 3
Número: 4
Número: 6
Número: 7
Número: 8
Número: 9
Número: 10

### for()

Los ciclos `for()` se utilizan para iterar sobre secuencias de elementos.

#### Ejercicio 1.6

Veamos un ejemplo donde recorramos cada una de las letras de un texto, y ademas vallamos contando el numero de letra y mostrando que caracter es el 1,2,3 etc...

In [7]:
texto = "Este es un mensaje de python que contiene 55 caracteres"
numero_letra = 1

for letra in texto:
  mensaje = "La letra {} es {}".format(numero_letra,letra)
  print(mensaje)
  numero_letra += 1

La letra 1 es E
La letra 2 es s
La letra 3 es t
La letra 4 es e
La letra 5 es
La letra 6 es e
La letra 7 es s
La letra 8 es
La letra 9 es u
La letra 10 es n
La letra 11 es
La letra 12 es m
La letra 13 es e
La letra 14 es n
La letra 15 es s
La letra 16 es a
La letra 17 es j
La letra 18 es e
La letra 19 es
La letra 20 es d
La letra 21 es e
La letra 22 es
La letra 23 es p
La letra 24 es y
La letra 25 es t
La letra 26 es h
La letra 27 es o
La letra 28 es n
La letra 29 es
La letra 30 es q
La letra 31 es u
La letra 32 es e
La letra 33 es
La letra 34 es c
La letra 35 es o
La letra 36 es n
La letra 37 es t
La letra 38 es i
La letra 39 es e
La letra 40 es n
La letra 41 es e
La letra 42 es
La letra 43 es 5
La letra 44 es 5
La letra 45 es
La letra 46 es c
La letra 47 es a
La letra 48 es r
La letra 49 es a
La letra 50 es c
La letra 51 es t
La letra 52 es e
La letra 53 es r
La letra 54 es e
La letra 55 es s

### for in range()

El bucle `for in range()` es una forma conveniente de iterar sobre una secuencia de números en un rango específico.

Nos permite ir pasando de un valor a otro.

#### Ejercicio 1.7

Creeemos un ciclo for in range que muestre todos los valores de 10 al 20

**MUCHA ATENCIÓN VEMOS QUE EL VALOR FINAL ES NO INCLUSIVO**

In [8]:
for numero in range(10, 20):
    print(numero)

10
11
12
13
14
15
16
17
18
19

#### Ejercicio 1.8

Una ventaja de los ciclos for es que podemos indicarle cada cuanto queremos que sean estos *saltos*

Creemos un código que muestre los primeros 6 numeros pares (sin incluir el cero)

In [9]:
for valores_pares in range(2, 14, 2):
    print(valores_pares)

2
4
6
8
10
12

#### Ejercicio 1.9

Otra opcion es recorrer hacia atras.

Recorramos los numeros desde -5 hasta -15

In [10]:
for numeros_negativos in range(-5, -16, -1):
    print(numeros_negativos)

-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15

## COLECCIONES DE DATOS

En python ademas de los tipos de datos "normales" que ya vimos, existen las llamadas colecciones de datos. Las cuales son estructuras que contienen varios datos, hay de diferentes formas y son muy utiles.

### list

Las listas se definen con `[]` y los valores se separan por `,`

Las listas permiten guardar diferentes tipos de datos, en un solo objeto.

#### Ejercicio 2.0

Creemos diferentes listas algunas con string adentro, otras con int, o mezclados.

In [11]:
lista_nombres = ["andres", "maria", "fernando"]
lista_numerica = [15, 6, 8.9, -5.5]
lista_mezclada = ["azul", 1, False, "programar", 8.8]

#### Ejercicio 2.1

Un aspecto muy importante es que si queremos acceder a un valor de una lista podemos hacer mediante su numero de indice, es decir, la posición que toma su valor.

**El primer elemento de una lista tiene un indice 0**

Veamos un ejemplo

In [12]:
lista_apellidos = ["perez","garcia", "muñoz","ruiz"]

print("El 1er apellido de la lista tiene indice 0 y es:", lista_apellidos[0])
print("El 3er apellido de la lista tiene indice 2 y es:", lista_apellidos[2])

El 1er apellido de la lista tiene indice 0 y es: perez
El 3er apellido de la lista tiene indice 2 y es: muñoz

### Acciones con listas

Con las listas podemos utilizar las siguientes acciones

- Append: Agrega un elemento al final de la lista, append()
- Extend: Añade una lista a una lista preexistente, extend()
- Insert: Agrega un elemento en el índice determinado, insert()
- Pop: Elimina un elemento al final de la lista o en un índice específico, pop()
- Remove: Elimina un elemento si consigue el elemento específico, remove()
- Sort: Ordena la lista de menor a mayor, sort()
- Reverse: Invierte el orden de la lista, reverse()

#### Ejercicio 2.2

Creemos 3 listas:
- Una con 5 valores numericos
- Una con 3 frutas
- Una con los datos personales nombre, edad, condicion_booleana_es_profesor, lenguaje_de_programacion

Y utilicemos las siguientes acciones para listas con ejemplos:
- append
- extend
- insert
- pop
- remove
- sort
- reverse

In [13]:
lista_valores_numericos = [5, 15, 62, -22, -77]
lista_frutas = ["banana", "pera", "mango"]
lista_datos_personales = ["andres", 25, True, "python"]

In [34]:
type(lista_datos_personales)

list

In [14]:
# Agregar un valor al final de la lista utilizando append
lista_valores_numericos.append(100)
lista_valores_numericos

[5, 15, 62, -22, -77, 100]

In [15]:
# Extender la lista de frutas con otra lista
lista_frutas.extend(["manzana", "uva"])
lista_frutas

['banana', 'pera', 'mango', 'manzana', 'uva']

In [16]:
# Insertar un elemento en una posición específica
lista_frutas.insert(2, "kiwi")
lista_frutas

['banana', 'pera', 'kiwi', 'mango', 'manzana', 'uva']

In [17]:
# Eliminar y devolver el último elemento de la lista de datos personales
ultimo_dato = lista_datos_personales.pop()
print("El ultimo dato era: ", ultimo_dato)
print("El la lista quedo: ",lista_datos_personales)

El ultimo dato era:  python
El la lista quedo:  ['andres', 25, True]

In [18]:
# Eliminar la primera ocurrencia de un elemento
lista_frutas.remove("pera")
lista_frutas

['banana', 'kiwi', 'mango', 'manzana', 'uva']

In [19]:
# Ordenar la lista de valores numéricos de forma ascendente
lista_valores_numericos.sort()
lista_valores_numericos

[-77, -22, 5, 15, 62, 100]

In [20]:
# Revertir el orden de la lista de frutas
lista_frutas.reverse()
lista_frutas

['uva', 'manzana', 'mango', 'kiwi', 'banana']

### len()

Una función muy util y que debemos tener en cuenta es la función len la cual devuelve el tamaño o cantidad de valores en esta

In [21]:
lista_5_valores = ["Primer Valor", 2, True, "4to Valor", 5.0]

len(lista_5_valores)

5

### tuple

Las listas se definen con `()` y los valores se separan por `,`

Las tuplas son muy parecidas a las listas, pero con una gran diferencia. **Son inmutables, es decir, no pueden ser alteradas despues de su creación.**

Una caracteristica de las tuplas es que permiten valores duplicados

#### Ejercicio 2.3

Veamos un ejemplo de tupla, donde vamos a poner 4 vehiculos. Y veremos que usando el indice podemos acceder a cada uno de los valores.

In [22]:
tupla_vehiculos = ("auto", "moto", "camion", "bicicleta")

print("El 1er vehiculo de la lista tiene indice 0 y es:", tupla_vehiculos[0])
print("El 4to vehiculo de la lista tiene indice 3 y es:", tupla_vehiculos[3])

El 1er vehiculo de la lista tiene indice 0 y es: auto
El 4to vehiculo de la lista tiene indice 3 y es: bicicleta

In [33]:
type(tupla_vehiculos)

tuple

### Acciones con tuplas

Con las tuplas podemos realizar las siguientes acciones:
- Count: Identifica cuántas veces existe un elemento dentro de la tupla, count()
- Index: Devuelve el índice del elemento determinado, index()

#### Ejercicio 2.4

Creemos una tupla con verduras y veamos como usar count e index

In [23]:
tupla_verduras = ("acelga", "papa","calabaza", "cebolla", "papa")

# Encontrar el índice de "calabaza" en la tupla
indice_calabaza = tupla_verduras.index("calabaza")
print("El índice de 'calabaza' es:", indice_calabaza)

El índice de 'calabaza' es: 2

In [24]:
# Contar cuántas veces aparece "papa" en la tupla
cantidad_papa = tupla_verduras.count("papa")
print("El número de veces que 'papa' aparece es:", cantidad_papa)

El número de veces que 'papa' aparece es: 2

### set

Los set de datos son similares a las tuplas ya que no permiten reordenar los valor.

Pero su principal diferencia es que no puede haber duplicados, en cambio, si permiten quitar y poner elementos

#### Ejercicio 2.5

El principal uso que vamos a darle a set es cuando tengamos muchos valores repetidos en una lista, y queramos tener un conjunto de datos con los valores únicos sin repetirse con el orden de aparición.

Creemos una lista con valores numéricos entre los cuales tengamos números repetidos, con set creemos un "set" de números únicos.

In [25]:
lista_valores_repetidos = (87,31,2,2,3,3,1,5,4,3,23,23,12,9,8,99,11,56,26,23,71,15,124,8,1,3,1,9,49,1,5,1)
lista_valores_repetidos

(87,
 31,
 2,
 2,
 3,
 3,
 1,
 5,
 4,
 3,
 23,
 23,
 12,
 9,
 8,
 99,
 11,
 56,
 26,
 23,
 71,
 15,
 124,
 8,
 1,
 3,
 1,
 9,
 49,
 1,
 5,
 1)

In [27]:
conjunto_unicos = set(lista_valores_repetidos) # Con set convierto a mi lista a valores sin repetetidos

# Imprimir los elementos únicos
print("Elementos únicos:", conjunto_unicos)

Elementos únicos: {1, 2, 3, 4, 5, 8, 9, 11, 12, 15, 23, 26, 31, 49, 56, 71, 87, 99, 124}

In [28]:
type(conjunto_unicos)

set

### dict()

Los diccionarios se definen con `{}` y los elementos se separan por `,` pero para separa la clave del valor usamos `:`

Los diccionarios tienen la caracteristica de guardar valores con un sistema de clave valor, es decir, voy a almacenar información pero esta va a tener un clave (como un nombre interno)

#### Ejercicio 2.6

Creemos un diccionario con informacion personal y veamos como acceder a un valor

In [42]:
informacion_andres = {
    "nombre": "Andrés",
    "apellido": "Muñoz",
    "edad": 25,
    "es_profesor" : True,
    "es_alumno" : False
}

In [31]:
informacion_andres

{'nombre': 'Andrés',
 'apellido': 'Muñoz',
 'edad': 25,
 'es_profesor': True,
 'es_alumno': False}

In [32]:
type(informacion_andres)

dict

### Acciones con diccionarios

- Get: Devuelve un elemento a través
de su key, sino lo encuentra se le
pueda dar un valor por default, get()
- Keys: Devuelve todas las keys de un diccionario, keys()
- Values: Devuelve todos los values de un diccionario, values()
- Items: Devuelve todos los pares de key/values de un diccionario, items()
- Pop: Elimina un elemento del diccionario a partir de su key, pop()
- Clear: Elimina todos los elementos del diccionario, clear()

#### Ejercicio 2.7

Con la lista creada anteriores probemos a usar las diferentes acciones disponibles

In [35]:
# Ejemplo de uso de get()
apellido_persona = informacion_andres.get("apellido")
print("Apellido:", apellido_persona)

Apellido: Muñoz

In [36]:
# Ejemplo de uso de get() con valor por default
telefono_persona = informacion_andres.get("telefono", "No disponible")
print("Teléfono:", telefono_persona)

Teléfono: No disponible

In [37]:
# Ejemplo de uso de keys()
keys_diccionario = informacion_andres.keys()
print("Keys:", keys_diccionario)

Keys: dict_keys(['nombre', 'apellido', 'edad', 'es_profesor', 'es_alumno'])

In [38]:
# Ejemplo de uso de values()
values_diccionario = informacion_andres.values()
print("Values:", values_diccionario)

Values: dict_values(['Andrés', 'Muñoz', 25, True, False])

In [39]:
 # Ejemplo de uso de items()
items_diccionario = informacion_andres.items()
print("Items:", items_diccionario)

Items: dict_items([('nombre', 'Andrés'), ('apellido', 'Muñoz'), ('edad', 25), ('es_profesor', True), ('es_alumno', False)])

In [43]:
# Atención por elimina el valor relacionado con la key "edad"
edad_persona = informacion_andres.pop("edad")
print("Edad:", edad_persona)
print("Diccionario después de pop:", informacion_andres)

Edad: 25
Diccionario después de pop: {'nombre': 'Andrés', 'apellido': 'Muñoz', 'es_profesor': True, 'es_alumno': False}

In [41]:
# Ejemplo de uso de clear()
informacion_andres.clear()
print("Diccionario después de clear:", informacion_andres)

Diccionario después de clear: {}