# Clase 3 Python

## ESTRUCTURAS DE CONTROL

### while

El while() permite ejecutar código de forma continua e ininterrumpida mientras las condiciones definidas se cumplan.

while `laCondicionACumplir`:

In [ ]:
if True:
  print("Este código se ejecuto con un if")

Este código se ejecuto con un if

#### Ejercicio 1.0

In [ ]:
while True:
  print("Este código se ejecuto con un drive")

#genera un bucle infinito

#### Ejercicio 1.1

Vamos a utilizar el ciclo while para comprobar si el usuario ingreso la contraseña de forma correcta, mientras la contraseña sea incorrecta nuestro ciclo pedirá al usuario que la reingrese

In [ ]:
password = "123tA!"
password_ingresado = input("Por favor ingrese su contraseña: ")

while password != password_ingresado:
  print("Contraseña incorrecta!")
  password_ingresado = input("Por favor reingrese su contraseña: ")

Por favor ingrese su contraseña: wehfsg
Contraseña incorrecta!
Por favor reingrese su contraseña: wer
Contraseña incorrecta!
Por favor reingrese su contraseña: 123tA!

#### Ejercicio 1.2

In [ ]:
numero_ciclos_while = 1

while numero_ciclos_while < 10:
  print("Este es el ciclo n°:", numero_ciclos_while)
  numero_ciclos_while +=1

Este es el ciclo n°: 1
Este es el ciclo n°: 2
Este es el ciclo n°: 3
Este es el ciclo n°: 4
Este es el ciclo n°: 5
Este es el ciclo n°: 6
Este es el ciclo n°: 7
Este es el ciclo n°: 8
Este es el ciclo n°: 9

#### Ejercicio 1.3

Con los ciclos while() también podemos ultilizar `else`

In [ ]:
user_name = "sofiagoszko"
usuario_ingresado = input("Por favor ingrese su usuario: ")

while user_name != usuario_ingresado:
  print("El nombre de usuario", usuario_ingresado, "no se encuentra reguistrado")
  usuario_ingresado = input("Por favor reingrese su usuario: ")
else:
  print("Bienvenido/a:", usuario_ingresado)

Por favor ingrese su usuario: usuario
El nombre de usuario usuario no se encuentra reguistrado
Por favor reingrese su usuario: sofia1246
El nombre de usuario sofia1246 no se encuentra reguistrado
Por favor reingrese su usuario: sofiagoszko
Bienvenido/a: sofiagoszko

#### Ejercicio 1.4

In [ ]:
estado_datos_cargados = False

while estado_datos_cargados:
  columna_a_procesar = input("Por favor ingrese que columna quiere procesar")
  print("Estamos procesando la columna", columna_a_procesar)
else:
  print("POR FAVOR CARGUE EL DATASET URGENTEMENTE")

POR FAVOR CARGUE EL DATASET URGENTEMENTE

#### Ejercicio 1.5

`break` se utiliza para frenar de forma inmediata la ejercición de nuestro ciclo while()

In [ ]:
numero_a_dividir = 10
divisor_actual = -5
fin_divisor = 5

while divisor_actual <= fin_divisor:
  if divisor_actual == 0:
    break

  resultado = numero_a_dividir / divisor_actual
  mensaje = "La division de {} sobre {} da como resultado {}".format(numero_a_dividir, divisor_actual, resultado)
  print(mensaje)
  divisor_actual += 1

La division de 10 sobre -5 da como resultado -2.0
La division de 10 sobre -4 da como resultado -2.5
La division de 10 sobre -3 da como resultado -3.3333333333333335
La division de 10 sobre -2 da como resultado -5.0
La division de 10 sobre -1 da como resultado -10.0

#### Ejercicio 1.6

`continue` es muy parecido al `break` pero en vez de cancelar la ejercución del ciclo while(), va a saltar a una interación

In [ ]:
numero_a_dividir = 10
divisor_actual = -5
fin_divisor = 5


while divisor_actual <= fin_divisor:
  if divisor_actual == 0:
    divisor_actual += 1
    continue
  resultado = numero_a_dividir / divisor_actual
  mensaje = "La division de {} sobre {} da como resultado {}".format(numero_a_dividir, divisor_actual, resultado)
  print(mensaje)
  divisor_actual += 1

La division de 10 sobre -5 da como resultado -2.0
La division de 10 sobre -4 da como resultado -2.5
La division de 10 sobre -3 da como resultado -3.3333333333333335
La division de 10 sobre -2 da como resultado -5.0
La division de 10 sobre -1 da como resultado -10.0
La division de 10 sobre 1 da como resultado 10.0
La division de 10 sobre 2 da como resultado 5.0
La division de 10 sobre 3 da como resultado 3.3333333333333335
La division de 10 sobre 4 da como resultado 2.5
La division de 10 sobre 5 da como resultado 2.0

### for

El `for` se utiliza para iterar valores dentro de un elemento

#### Ejercicio 1.7

In [ ]:
texto = "Este código de python me tiene loco"

for letra in texto:
  print(letra)

E
s
t
e

c
ó
d
i
g
o

d
e

p
y
t
h
o
n

m
e

t
i
e
n
e

l
o
c
o

### for in range():

Permite realizar interaciones a lo largo de números, hay que definir los parámetros

- punto de partida
- punto de finalización (no incluyente)
- la dirección y valor del salto o step

for `numero` in range(`puntoPartida`, `puntoLlegada`, `step`):

#### Ejercicio 1.8

Quiero mostrar todos los numeros entre 1 y 10 (NO INCLUYENTE)

In [ ]:
for numero in range(1, 10):
  print(numero)

1
2
3
4
5
6
7
8
9

#### Ejercicio 1.9

Quiero mostrar los elementos pares entre 2 y 14 (INCLUYENTE)

In [ ]:
for par in range(2, 15, 2):
  print(par)

2
4
6
8
10
12
14

#### Ejercicio 1.10

Probemos hacer un print de número negativos descendientes

In [ ]:
for negativo in range(4, -5, -1):
  print(negativo)

4
3
2
1
0
-1
-2
-3
-4

## COLECCIONES DE DATOS

En python ya vimos estos tipos de datos:

- str
- bool
- int
- float

Cada uno de estos datos contenía un tipo de dato individual

### lista

Las listas permiten guardar diferentes tipos de datos, puedo tener variables repetidas, alterar la lista o mejor dicho los valores que tiene adentro ya sea agregando, mostrando o sacándolos.

#### Ejercicio 2.0

Creamos 3 listas sencillas para ver como definirlas.

Una lista se caracteriza por utilizar `[]` y además separa los valores de adentro con `,`

In [ ]:
lista_numerica = [1, 5, 70, -10]
lista_string = ["sofia", "andres", "nadia", "rodrigo"]
lista_variada = [1, "leticia", 11.34, "@"]

In [ ]:
#con print se devuelve todos los valores a la vez

lista_numerica

[1, 5, 70, -10]

#### Ejecicio 2.1

Utilizar el **for** con las listas nos permite pasar de elemento a elemento de a uno

In [ ]:
for elemento in lista_variada:
  print(elemento, " ", type(elemento))

1   <class 'int'>
leticia   <class 'str'>
11.34   <class 'float'>
@   <class 'str'>

In [ ]:
for nombre in lista_string:
  print("Hola!", nombre)

Hola! sofia
Hola! andres
Hola! nadia
Hola! rodrigo

#### Acciones con listas

Funciones específicas para trabajar con listas y poder hacer diferentes cosas

In [ ]:
lista_vehiculo = ["caminioneta", 2012, True, "gris"]

##### len

len() permite saber la cantidad de elementos que tiene una lista

In [ ]:
len(lista_vehiculo)

4

##### append

append sirve para agregar elementos a una lista

In [ ]:


lista_vehiculo.append("4x4")
lista_vehiculo

['caminioneta', 2012, True, 'gris', '4x4']

##### indice

para acceder al valor de una lista puedo utilizar el indice
recordemos que el indice en python comienza en 0

In [ ]:
lista_vehiculo[0], lista_vehiculo[-3]

('caminioneta', True)

In [ ]:
for indice in range(0, len(lista_vehiculo)):
  print(lista_vehiculo[indice])

caminioneta
2012
True
gris
4x4

##### extend

Permite juntar dos listas en una, uniéndolas una detrás de la otra

In [ ]:
lista_accesorios = ["radio", False]
lista_vehiculo.extend(lista_accesorios)

lista_vehiculo

['caminioneta', 2012, True, 'gris', '4x4', 'radio', False]

##### insert

Permite ingresar un valor en una posición específica

In [ ]:
lista_vehiculo[1]

2012

In [ ]:
lista_vehiculo.insert(1, "toyota")
lista_vehiculo

['caminioneta', 'toyota', 2012, True, 'gris', '4x4', 'radio', False]

##### pop

Permite extraer el valor de arriba (el último de la lista)

In [ ]:
print("Tiene", len(lista_vehiculo)," elementos")
variable_pop = lista_vehiculo.pop()
print("El valor extraído es:", variable_pop)
print("Ahora mi lista quedo así:", lista_vehiculo)
print("Tiene", len(lista_vehiculo)," elementos")

Tiene 8  elementos
El valor extraído es: False
Ahora mi lista quedo así: ['caminioneta', 'toyota', 2012, True, 'gris', '4x4', 'radio']
Tiene 7  elementos

In [ ]:
lista_colores = ["azul", "amarillo", "verde", "azul", "rojo", "azul", "verde", "rojo"]

##### remove

Permite eliminar el primer elemento que cumpla con una característica definida

In [ ]:
print(lista_colores)
lista_colores.remove("verde")
print(lista_colores)

['azul', 'amarillo', 'verde', 'azul', 'rojo', 'azul', 'verde', 'rojo']
['azul', 'amarillo', 'azul', 'rojo', 'azul', 'verde', 'rojo']

##### sort

Permite ordenar alfabéticamente o numéricamente según el tipo de dato

In [ ]:
lista_colores.sort()
lista_colores

['amarillo', 'azul', 'azul', 'azul', 'rojo', 'rojo', 'verde']

In [ ]:
lista_numerica = [4, 234, 0, -1, 53]

lista_numerica.sort()
lista_numerica

[-1, 0, 4, 53, 234]

In [ ]:
lista_numerica.sort(reverse=True)
lista_numerica

[234, 53, 4, 0, -1]

##### reverse

Permite ordenar la lista en sentido contrario

In [ ]:
lista_colores = ["azul", "amarillo", "verde", "azul", "rojo", "azul", "verde", "rojo"]

lista_colores.reverse()
lista_colores

['rojo', 'verde', 'azul', 'rojo', 'azul', 'verde', 'amarillo', 'azul']

### tuple

Las tuplas tienen la particularidad de que no pueden ser editadas despues de crearse, es decir, son inmutables. También pueden tener **valores repetitods**.
Solamente podemos utilizar:

- index
- count

Con las tuplas se utilizar `()` y los valores se separan en `,`

#### Ejercicio 2.2

Creemos una tupla

In [ ]:
tupla_numerica = (1, 2, 66, 10, 0, 5)

#### Ejercicio 2.3

Utilicemos index y count con una *tupla*

In [ ]:
tupla_frutas = ("manzana", "banana", "manzana", "ciruela", "mango", "frutilla", "mango")

##### count

Devuelve o cuenta cuantas veces aparece el elemento espeficicado

In [ ]:
numero_manzanas = tupla_frutas.count("manzana")
numero_manzanas

2

##### index

Retorna la primer posición donde encuentra el elemento especificado

In [ ]:
posicion_mango = tupla_frutas.index("mango")
posicion_mango

4

### set

El set permite transformar una colección con objetos repetidos en una colección del tipo set la cual SOLO tiene valores únicos

In [ ]:
# con el set es muy util deshacerse de los valores duplicados

tupla_numerica = (1, 2, 5, 10, 1, 5, 66, 30, 10)
valores_unicos = set(tupla_numerica)

valores_unicos

{1, 2, 5, 10, 30, 66}

### dict

Los diccionarios guardan objetos con una configuración llave-valor o también conocida como key-value.

Su estructura utiliza los `{}`, los valores se separan con `,` y los valores se separan de las llaves con `:`

In [ ]:
info_personal = {
    "nombre" : "Sofia",
    "apellido" : "Goszko",
    "edad" : 30,
    "lenguaje" : "Python",
    "alumno" : True,
    "Profesor" : False
}

#### Ejercicio 2.4

Vamos a trabajar con los valores del diccionario

##### keys

Permite ver las key o llaves de mi diccionario

In [ ]:
info_personal.keys()

dict_keys(['nombre', 'apellido', 'edad', 'lenguaje', 'alumno', 'Profesor'])

##### values

Permite ver los values o valores de mi diccionario

In [ ]:
info_personal.values()

dict_values(['Sofia', 'Goszko', 30, 'Python', True, False])

##### items

Permite ver las parejas de mi diccionario

In [ ]:
info_personal.items()

dict_items([('nombre', 'Sofia'), ('apellido', 'Goszko'), ('edad', 30), ('lenguaje', 'Python'), ('alumno', True), ('Profesor', False)])

##### get

Con get uno puede seleccionar un valor en particular en función de la key o llave

In [ ]:
mi_apellido = info_personal.get("apellido")
mi_apellido

'Goszko'

##### pop

Permite extraer y por consiguiente eliminar un valor a partir de su key o llave

In [ ]:
mi_edad = info_personal.pop("edad")
mi_edad

30

In [ ]:
info_personal

{'nombre': 'Sofia',
 'apellido': 'Goszko',
 'lenguaje': 'Python',
 'alumno': True,
 'Profesor': False}

##### clear

Permite limpiar todo el contenido del diccionario

In [ ]:
info_personal.clear()
info_personal

{}